@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  --background-infomation: #e02027;
  --text-color-dropdown:#333333;
  --menu-user:#7c7575;
  margin: 0 !important;
  padding: 0 !important;
}
.container {
  padding: 0 2%;
}
