.footer {
  z-index: 1;
  background: white;
  & .container {
    padding: 0 12%;
  }
  & .detail{
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    & img{
      width: 150px;
    }
    & em{
      font-size: 13px;
    }
  }
  & .address__shop {
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    & .item {
      width: 23%;
      & .infomation {
        font-size: 14px;
        & .shop {
          cursor: pointer;
          display: flex;
          gap: 5px;
          & b {
            font-weight: 500;
            transition: 0.3s ease;
          }
          & i {
            transition: 0.3s ease;
          }
          &:hover {
            & i {
              color: var(--background-infomation);
            }
            & b {
              color: var(--background-infomation);
            }
          }
        }
        & .phone {
          display: flex;
          gap: 5px;
          align-items: center;
          cursor: pointer;
          & p {
            transition: 0.3s ease;
          }
          & i {
            transition: 0.3s ease;
          }
          &:hover {
            & i {
              color: var(--background-infomation);
            }
            & p {
              color: var(--background-infomation);
            }
          }
        }
      }
      & .title {
        display: flex;
        margin-bottom: 20px;
        & .number {
          text-align: center;
          width: 5%;
          padding: 10px;
          background: #505050;
          border-radius: 5px 0px 0px 5px;
        }
        & span {
          width: 100%;
          background: #e02027;
          color: white;
          font-weight: 600;
          font-size: 13px;
          padding: 10px;
          border-radius: 0px 5px 5px 0px;
        }
      }
    }
  }
  & h2 {
    padding-top: 50px;
    margin-bottom: 50px;
    position: relative;
    text-align: center;
    &::after {
      content: " ";
      width: 170px;
      height: 2px;
      left: 45%;
      top: 90px;
      background: black;
      position: absolute;
    }
  }
}
